/* CSS Document */

body {
	background-image: url(images/bg_red_lines_pix.gif);
}


p {color: #FE9C00}
h1 {font-size: medium; color: #FE9C00}
h2 {
	color: #FE9C00;
	font-size: medium;
}

#h2_bg {
	background-color: #333;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: auto;
	margin-left: 10px;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

a:hover { 
  text-shadow: 0px -4px 5px #000000, 0 0 5px #ffffff, 0 0 20px #ffffff;
  color: #ffffff;
}
a:visited {
  color: #FE9C00;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #FE9C00;
  background-color: transparent;
  text-decoration: underline;
}


#paragraph_bg {
	background-image: url(images/bg_black_pix.gif);
	background-repeat: repeat;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 1px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
td {
	background-image: url(images/bg_gray_pix.gif);
	background-repeat: repeat;
}
