/* CSS Document */

body {
	background-image: url(images/bg_red_pix.gif);
	background-color: #333;
}


p {
	color: #FE9C00;
}

h1, h2 {
	font-size: medium;
	color: #FE9C00;
	font-weight: bold;
}
#left_col {
	background-image: url(images/left_side_col.gif);
	background-repeat: repeat-y;
}
#right_col {
	background-image: url(images/right_side_col.gif);
	background-repeat: repeat-y;
}



#h2_bg {
	background-color: #333;
	margin: 0px;
	padding: 0px;
}
a:link {
  color: #FE9C00;
  background-color: transparent;
  text-decoration: underline;
}
a:hover { 
  text-shadow: 0px -4px 5px #000000, 0 0 5px #ffffff, 0 0 20px #ffffff;
  color: #ffffff;
}
a:visited {
  color: #FE9C00;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #FE9C00;
  background-color: transparent;
  text-decoration: underline;
}


#paragraph_bg {
	background-image: url(images/bg_black_pix.gif);
	background-repeat: repeat;
	margin-bottom: auto;
	padding-bottom: 10px;
}
#footer_bg {
	background-image: url(images/footer.gif);
	background-repeat: no-repeat;
}

td {
	background-image: url(images/bg_gray_pix.gif);
	background-repeat: repeat;
}
.images {
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
.footer {
	font-size: xx-small;
	text-align: right;
	color: #FF9C00;
	padding-right: 126px;
	padding-bottom: 5px;
	padding-left: 70px;
}
