body {
	background-color: #333;
}

header {
	width: 800px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(images/banner_nn.gif)	
}

nav{
	width: 800px;
    height: 20px;
	margin-left: auto;
	margin-right: auto;
}

a {
    color: #FFFFFF;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	text-shadow: 1px -4px 5px #000000, 0 0 5px #ffffff, 0 0 20px #ffffff;
    color: #ffffff;
	text-decoration: underline;
}

a:visited {
   color: #FFFFFF;
   background-color: transparent;
   text-decoration: none;
}

p {
	color: #FFFFFF;
	font-size: medium;
	font-family: Consolas;
	padding-left: 52px;
	padding-right: 52px;
}

h1 {
	font-size: large;
	text-shadow: 1px 4px 5px #333333, 0 0 5px #ffffff, 0 0 20px #ffffff;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Consolas;
	padding-left: 52px;
    margin-top: 0px;

}

h2 {
	font-size: large;
	text-shadow: 1px 4px 5px #333333, 0 0 5px #ffffff, 0 0 20px #ffffff;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Consolas;
	padding-left: 52px;
}

.images {
	float: right;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 52px;
}

#play {
	background-color: #5c5e5c;
	color: white;
	border: none;
	padding: 20px 20px;
	border-radius: 5px;
	cursor: pointer;
}

#stop {
	background-color: #5c5e5c;
	color: white;
	border: none;
	padding: 20px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.left {
	background-color: #333;
	float: left;
	width: 500px;
	height: 400px;

}

.middle {
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: auto;

}

.right {
	background-color: #333;
	float: right;
	width: 500px;
	height: 400px;

}

.footer {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	font-size: xx-small;
	text-align: center;
	text-shadow: 1px 4px 5px #333333, 0 0 5px #ffffff, 0 0 20px #ffffff;
	color: #FFFFFF;
	padding-bottom: 20px;
	font-family: Consolas;
}